.logo-img {
    margin-bottom: 80px;
}

span {
    display: block;
}

.user-info {
    margin-bottom: 80px;
    display: grid;
    text-align: center;
}

.user-info img {
    width: 36px;
}


.nav-wrapper
{
	height: 100vh;
	padding-top: 50px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 0 50px 50px 0;
}

.user-img {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F9E547;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
}

.user-city {
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
}

.nav {
    display: grid;
}

.navBtns {
    width: 350px;
}

.nav-link {
    text-decoration: none;
    width: 100%;
    padding: 9px 35px;
    color: #97999B;
    text-align: left;
    margin: 5px 0;
}

.nav-link.active {
    color: #000000;
    border-left: 5px solid #F9E547;
    padding-left: 30px;
}

.nav-link:hover {
    color: #000000;
}

.nav img {
    margin-right: 13px;
    margin-bottom: 0;
}

.logout {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}

.logout-btn {
    background: #ffffff;
    border: none;
    color: #97999B;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
}

.logout-btn:hover {
    background: #ffffff;
    color: #97999B;
}

.logout-btn:active {
    color: black;
}

.tab-content p {
    margin: 0;
}

.tab-content .tab-pane:not(.active) {
    display: none;
}

.tab-content .tab-pane {
    text-align: center;
    padding-right: 200px;
}
